:root {
    --black: #2D3436;
    --purple-dark: #6C5CE7;
    --green-light: #55EFC4;
    --red-dark: #D63031;
    --gray-lignt: #ADADAD;
    --yellow-dark: #FDCB6E;
    --white: #FFFFFF;
    --pink-dark: #E84393;
    --blue-dark: #0984E3;
    --green-dark: #00B894;
    --gray-soft: #C2C2C2;
}